In [2]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('sqlite:///database.db')
connection = engine.connect()
metadata = db.MetaData()

userTable = db.Table('user', metadata, autoload=True, autoload_with=engine)
computerTable = db.Table('computer', metadata, autoload=True, autoload_with=engine)

In [3]:
query = db.select([userTable])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df

,id,email,password,first_name,admin
0,1,d18124735@mytudublin.ie,sha256$8N6pz6B9YJHLiBnQ$8d147a3c1cdc78c06a7c79...,Conor,None
1,2,admin2@gmail.com,sha256$jb1G4GdQPB7uFNIg$d2c8f14a29eb67e50631fe...,admin,None
2,3,admin@gmail.com,sha256$aJWMLK4VXB6mNYfX$4605343bb2c62c0d7e67c4...,admin,None
3,4,admin@gmail.com3,sha256$vxI9y7l0MRYxwf9N$c8533c4e43a0217ae0622e...,admin,None
4,5,admin@gmail.com4,sha256$oYp04rks1vdVHBaI$f662141ddafee1e5c917ac...,admin,False
5,6,admin@gmail.com5,sha256$YKzl4uuxk0AW8IfQ$53c11db2b74f4addf7a0dd...,admin,False
6,7,admin@gmail.com6,sha256$ZPKM4ZulMIPloJ75$dcc2673c4e09bd968d6629...,admin,True

In [4]:
query = db.select([computerTable])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df

   id        data computer_ip                date  user_id
0   1  Computer 4   255.4.5.3 2022-03-25 16:47:10        1
1   2  Computer 5   255.4.5.7 2022-03-25 16:47:15        1
2   3  Computer 1   255.4.5.1 2022-03-25 17:03:23        2

In [5]:
computerTable.query.all()

AttributeError: 'Table' object has no attribute 'query'